In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\Acer\Desktop\diploma\data\products.csv')
df.head(5)

,id,SKU,Name,Category,Brand,Seller,Color,Balance,Comments,Final Price,...,06.09.2021 Revenue,07.09.2021 Revenue,category_0,category_1,category_2,category_3,category_4,category_5,node_id,category
0,0,2237783,Туалетная вода древесный аромат/цитрусовый аромат,Красота/Парфюмерия/Мужские ароматы/Туалетная вода,ANTONIO BANDERAS,ООО Вайлдберриз,NaN,611,227,906,...,9060,9966,Красота,Парфюмерия,Мужские ароматы,Туалетная вода,NaN,NaN,31,beauty
1,1,15778086,Сахарная паста для шугаринга (депиляции) на фр...,Красота,Mivlane,ИП Ларченко Михаил Владиславович,NaN,1237,1388,357,...,65331,61404,Красота,NaN,NaN,NaN,NaN,NaN,31,beauty
2,2,21476793,Укрепляющее масло для ногтей со смолой мастико...,Красота/Профессиональная косметика/Масло,MILV,ИП Соколов Сергей Вадимович,NaN,106,31,210,...,420,840,Красота,Профессиональная косметика,Масло,NaN,NaN,NaN,31,beauty
3,3,4803247,"Интенсивный увлажняющий крем Soft для лица, ру...",Красота/Уход за кожей/Уход за телом/Крем,Nivea,ООО Вайлдберриз,NaN,3476,1065,216,...,36720,38232,Красота,Уход за кожей,Уход за телом,Крем,NaN,NaN,31,beauty
4,4,2147837,"Сменные кассеты Mach3 , 12 шт",Красота/Мужская линия/Для бритья/Кассета для б...,GILLETTE,ООО Вайлдберриз,черный,4973,1474,2041,...,87763,112255,Красота,Мужская линия,Для бритья,Кассета для бритв,NaN,NaN,31,beauty

In [13]:
df['shop_id'] = df['node_id']

df = df.drop(['node_id', 'category'], axis='columns')

In [14]:
columns = [
    'Average price',
    'Revenue potential',
    'Lost profit',
    'Lost profit percent',
    'Average if in stock',
    'Sales per day average'
]

for column in columns:
    df[column] = df[column].apply(lambda x: float(x.replace(',', '')))

In [15]:
df.dtypes.iloc[:50]

id                         int64
SKU                        int64
Name                      object
Category                  object
Brand                     object
Seller                    object
Color                     object
Balance                    int64
Comments                   int64
Final Price                int64
Max price                  int64
Min price                  int64
Average price            float64
Sales                      int64
Revenue                    int64
Revenue potential        float64
Lost profit              float64
Lost profit percent      float64
url                       object
thumb                     object
Days in stock              int64
Days with sales            int64
Average if in stock      float64
Rating                     int64
Basic Sale                 int64
Basic Sale Price           int64
Promo Sale                 int64
Base price                 int64
SPP                        int64
SPP Price                  int64
FBS                        int64
Category position          int64
Sales per day average    float64
09.08.2021 Sales           int64
10.08.2021 Sales           int64
11.08.2021 Sales           int64
12.08.2021 Sales           int64
13.08.2021 Sales           int64
14.08.2021 Sales           int64
15.08.2021 Sales           int64
16.08.2021 Sales           int64
17.08.2021 Sales           int64
18.08.2021 Sales           int64
19.08.2021 Sales           int64
20.08.2021 Sales           int64
21.08.2021 Sales           int64
22.08.2021 Sales           int64
23.08.2021 Sales           int64
24.08.2021 Sales           int64
25.08.2021 Sales           int64
dtype: object

In [16]:
df.to_csv(r'C:\Users\Acer\Desktop\diploma\data\products.csv', index=False)

In [3]:
import numpy as np

x = np.random.rand(50)
x

array([0.78911501, 0.93046583, 0.90830742, 0.17806676, 0.04133877,
       0.12791232, 0.22658477, 0.89265185, 0.79074934, 0.66978055,
       0.05091848, 0.05328476, 0.93048207, 0.64303932, 0.857631  ,
       0.99905032, 0.25198739, 0.46608467, 0.05916435, 0.28451433,
       0.15807501, 0.91715576, 0.6801605 , 0.23780535, 0.6802849 ,
       0.60859864, 0.76673791, 0.37896878, 0.97554263, 0.59602038,
       0.03890187, 0.29878698, 0.88332759, 0.90512059, 0.53626323,
       0.28971607, 0.66476564, 0.94269656, 0.85517609, 0.90691508,
       0.63410492, 0.53020732, 0.17059547, 0.75229934, 0.26184801,
       0.77941386, 0.80728804, 0.58797246, 0.6052057 , 0.56579374])

In [4]:
def formula(x):
    delta_T = 1/64

    sum_1 = 0
    for i in range(1, len(x)-1):
        value_1 = pow(
            ((x[i+1] - 2*x[i] + x[i-1])
             / pow(delta_T, 2)),
            2
        )

        sum_1 += value_1

    sum_2 = 0
    for i in range(1, len(x)-1):
        value_2 = pow(
            ((x[i-1] - x[i])
             / delta_T),
            2
        )

        sum_2 += value_2

    return sum_1 + sum_2/2

In [5]:
formula(x)

303088029.20854115

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Acer\Desktop\development\github\diploma\data\data.csv")
df.head(5)

                                                Name Category
0  Крем-спрей для волос PERFECT HAIR многофункцио...  Красота
1  Средство для педикюра Гель для пяток с мочевин...  Красота
2  Средство для педикюра Гель для пяток с мочевин...  Красота
3  720 детских влажных салфеток с алоэ и витамино...  Красота
4  Массажер для спины / Массажер для шеи и плеч /...  Красота

In [3]:
df.iloc[:10].to_csv(r"C:\Users\Acer\Desktop\development\github\diploma\data\data.csv", index=False)

In [3]:
import pandas as pd
import spacy

nlp = spacy.load("ru_core_news_sm")

In [46]:
def text_cleaning(test_text):
    test_doc = nlp(test_text)
    test_doc = [token.lemma_ for token in test_doc if not token.is_punct]
    test_doc = [
        token for token in test_doc if not token in nlp.Defaults.stop_words]
    return ' '.join(test_doc)

In [4]:
df = pd.read_csv(r"C:\Users\Acer\Desktop\development\github\diploma\data\search_logs.csv")

In [5]:
df

      id  user_id           query        date             time
0      2        1             s21  2022-06-01  18:45:21.172098
1      3        2             s21  2022-06-02  16:12:56.431873
2      4        2  кожаный куртка  2022-06-02  21:43:29.420205
3      5        2       компьютер  2022-06-02  21:43:45.358128
4      6        2      iphone s21  2022-06-02  21:44:30.150289
..   ...      ...             ...         ...              ...
628  630        1        толстовк  2022-06-03  18:50:40.780265
629  631        1            ipho  2022-06-03  18:52:16.055262
630  632        1           iphon  2022-06-03   18:52:19.04285
631  633        1              id  2022-06-03  23:24:09.445118
632  634        1         example  2022-06-03   23:25:38.37559

[633 rows x 5 columns]

In [9]:
df[df['query']=='кожаный куртка']

      id  user_id           query        date             time
2      4        2  кожаный куртка  2022-06-02  21:43:29.420205
8     10        2  кожаный куртка  2022-06-02  21:45:38.483265
26    28        2  кожаный куртка  2022-06-02  21:58:17.708192
41    43        2  кожаный куртка  2022-06-02    22:48:23.5247
46    48        2  кожаный куртка  2022-06-02    22:49:54.4534
47    49        2  кожаный куртка  2022-06-02  22:50:20.661824
48    50        2  кожаный куртка  2022-06-02  22:50:39.669164
67    69        2  кожаный куртка  2022-06-02  22:53:55.372905
68    70        2  кожаный куртка  2022-06-02  22:54:31.128993
79    81        2  кожаный куртка  2022-06-02  22:57:07.534234
80    82        2  кожаный куртка  2022-06-02  22:57:23.162746
81    83        2  кожаный куртка  2022-06-02   22:57:55.69467
82    84        2  кожаный куртка  2022-06-02  23:01:55.625738
83    85        2  кожаный куртка  2022-06-02  23:02:06.192604
84    86        2  кожаный куртка  2022-06-02  23:02:39.175406
85    87        2  кожаный куртка  2022-06-02  23:03:25.076997
98   100        2  кожаный куртка  2022-06-02  23:29:22.472185
99   101        2  кожаный куртка  2022-06-02  23:30:54.028083
100  102        2  кожаный куртка  2022-06-02  23:30:55.562327
101  103        2  кожаный куртка  2022-06-02  23:31:29.303524
102  104        2  кожаный куртка  2022-06-02  23:33:10.043231
103  105        2  кожаный куртка  2022-06-02  23:34:15.303307
104  106        2  кожаный куртка  2022-06-02  23:34:52.983053
105  107        2  кожаный куртка  2022-06-02  23:38:26.327562
106  108        2  кожаный куртка  2022-06-02  23:38:48.812342
107  109        2  кожаный куртка  2022-06-02  23:39:07.178934
108  110        2  кожаный куртка  2022-06-02  23:39:22.010529
109  111        2  кожаный куртка  2022-06-02  23:39:40.152656
110  112        2  кожаный куртка  2022-06-02  23:40:04.662502
118  120        2  кожаный куртка  2022-06-02  23:44:57.199226
119  121        2  кожаный куртка  2022-06-02  23:45:17.390167
146  148        2  кожаный куртка  2022-06-02  23:53:11.534901
620  622        1  кожаный куртка  2022-06-03  18:48:27.773299

In [44]:
df.to_csv(r"C:\Users\Acer\Desktop\development\github\diploma\data\search_logs.csv", index=False)

In [41]:
russian.candidates('ноут')

{'ноет', 'норт', 'нот', 'ноу', 'ноуп'}

In [42]:
russian.known(['ноут'])

set()

In [1]:
df

NameError: name 'df' is not defined